body, html{
    height: 100%;
    padding:0;
    margin:0;
}

body{

    background: linear-gradient(rgba(95,114,190,.8),rgba(155,35,234,.7)), url(/Exposicion/img/bg.jpg);
    background-size: cover;
    background-position: center;

}
.logo{
    height:100px;
}

.card{
    position: fixed;
    text-align: center;
    height: 100px;
    width: 50px;
    border: 2px rgb(0, 0, 0);
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    filter: shadow(color=#999999, direction=135, strength=2);
    box-shadow: 2px 2px 5px #999;
}

.card img{
    width: 50px;
    height: 35px;
}

.card p{
    font-size: 20px;
    color: rgb(68, 68, 68);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card h2{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}